<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper标签用于指定配置文件所属的接口名，通过namespace来指定 -->
<mapper namespace="com.hzit.dao.ResourcesDao">
    <!-- select表情专门指定查询方法，id属性代表方法名
    parameterType代表方法的参数数据类型
    resultType代表方法的返回的集合中的元素类型
     -->

    <select id="findByRid" parameterType="int" resultType="com.hzit.entity.Resources">
        select *from resourcces where rid=#{rid}
    </select>

    <select id="findAll"  resultType="com.hzit.entity.Resources">
        select *from resourcces
    </select>

    <insert id="insertResources" parameterType="com.hzit.entity.Resources">
        insert into resourcces values(#{rname},#{resurl},#{resorderno},#{redsdes},#{createTime},#{createMan})
    </insert>
    <update id="updateResources" parameterType="com.hzit.entity.Resources">
        update resourcces set rname=#{rname},resurl=#{resurl},resorderno=#{resorderno},redsdes=#{redsdes},updatetime=#{updatetime},updateMan=#{updateMan} where cardid=#{cardid}
    </update>
    <delete id="deleteResources" parameterType="int">
        delete from resourcces where rid=#{rid}
    </delete>
</mapper>